APP_NAME=Vehicle Check API
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/vehicle_check_db